
      body {
        display: flex;
        flex-direction: row;

        margin: 0; 
        margin-top: 100px
      }
      div {
        font-weight: 300;
        font-family: 'Oswald';
      }
      .filler {
        flex-grow: 1;
        background-color: rgb(31, 31, 31);
      }
      .middle {
        display: flex;
        flex-direction: column;
        flex-grow: 2;

        padding: 50px;
        background-color: rgb(0, 0, 0);
        min-width: 700px;
        max-width: 35%;

        box-shadow: 5px 255x 255px red;
      }
      .abschnitt {
        padding-bottom: 35px;
        display: block;
      }
      #humans {
        display: flex; 
        flex-direction: row;
      }
      #portraits {
        background-color: rgb(10, 10, 10);
        border: 25px solid rgb(10, 10, 10);
        outline: 1px solid rgb(24,24,24);
        border-radius: 25px;

        display: flex; 
        flex-direction: row;

        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-snap-points-x: repeat(250px);
        scroll-snap-type: mandatory;
        scroll-behavior: smooth;
        
        height: 460px;
        width: 500px;
      }
      .portrait {
        scroll-snap-align: start;
        width: 225px;
        padding-right: 50px;
      }
      #theBabyHimself {
        padding-right: 0px;
      }
      .portrait:hover {
        cursor: pointer;
      }
      .selfie {
        object-fit: cover;
      }
      .sub-title {
        font-weight: 400;
        font-size: 72px;
        color: white;
      }
      .sub-text {
        font-weight: 300;
        font-size: 28px;
        color: white;
      }
      .ArrowSection {
        margin-left: 40px;
        display: flex;
        flex-grow: 1;

        align-items: center;
        flex-direction: column;
      }
      #goRightCircle, #goLeftCircle {
        width: 90px;
        height: 90px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
      }
      #goRightCircle:hover, #goLeftCircle:hover{
        transition: 0.15s;
        background-color: rgba(255,255,255,0.5);
        cursor: pointer;
      }
      #goRightCircle:active, #goLeftCircle:active{
        transition: 0.1s;
        background-color: rgba(255, 0, 0, 1);
        cursor: pointer;
      }
      #goLeftCircle:active{
        margin-right: 12px;
      }
      #goRightCircle:active{
        margin-left: 12px;
      }
      #goRightArrow {
        margin-top: 18px;
        margin-left: 12px;
        width: 40px;
        height: 40px;
        transform: rotate(45deg);
        border-right: 15px rgb(0, 0, 0) solid;
        border-top: 15px rgb(0, 0, 0) solid;
      }
      #goLeftArrow {
        margin-top: 18px;
        margin-left: 25px;
        width: 40px;
        height: 40px;
        transform: rotate(-135deg);
        border-right: 15px rgb(0, 0, 0) solid;
        border-top: 15px rgb(0, 0, 0) solid;
      }
      #goRightArrow:active, #goLeftArrow:active {
       width: 50px;
       height: 50px; 
       margin-top: 12px;
       transition: 0.1s;
      }
      .name {
        text-align: center;
        font-weight: 400;

        border: 3px solid white;
        border-left: solid transparent;
        border-right: solid transparent;
        border-top: solid transparent;

        font-size: 30px;
        color: white;
      }
      .description {
        text-align: center;
        font-size: 22px;
        color: white;
        font-style: italic;
      }
      .title { 
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 10px;
        text-align: center;

        font-weight: 400;
        font-size: 72px;

        background-color: white;
        box-shadow: inset 0 12px  12px -4px rgba(0, 0, 0, 1), 
                    inset 0 -12px  12px -4px rgba(0, 0, 0, 1);
      }
      .bar {
        position: fixed;
        top: 126px;
        left: 0px;
        right: 0px;
        height: 25px;
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%); 
      }